@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-image: url("public/background2.png");
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-top: 170px;
  font-size: 24px;
  width: 2000px ;
}

#comp-img{
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.space {
  border: solid black;
  /*border-span*/
}
.singleshow {
  min-width: 250px;
  color:aliceblue;
  border-bottom: 0px;
  align-content: normal;
  justify-content: space-evenly;
  /* border:solid black 3px; */
  padding: 2em;
}

.showtitle {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:aliceblue;

}

.imgbutton{
  width: 250px ;
  border-radius: 25px;
  transition: transform 0.3s;
}

.imgbutton:hover {
  transform: scale(1.2);
}

.showcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}

.showreview {
  border: solid black;
  height: 100vh;
  bottom: 0px ;
  margin-left: 140px;
  width: 945px;
  border-radius: 25px;
  background: linear-gradient(177deg, rgba(243,255,189,1) 13%, rgba(255,22,84,1) 100%);
}

.showdescription {
  width: 400px;
}