.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
}

.App-header {
  margin-bottom: 20px;
  font-size: 24px;
}

#comp-img{
  width: 250px;
}

/* Add more styling for other elements if needed */

/* src/Navbar.css */

.navbar {
  display: grid;
  height: 105vh;
  position: fixed;
  z-index: 1;
  left: 0px;
  transition: transform 0.3s;
}

.sidebar {
  width: 150px;
  background-color: #333;
  color: white;
  overflow: hidden;
  transition: width 0.3s;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 30px;
  height: 105vh;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column; 
}

.nav-links a {
  display: block;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-links a:hover {
  background-color: #444;
}

.toggle-button {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  background-color: #333;
  color: white;
}

.open .sidebar {
  width: 0;
  overflow: hidden;
}

.open .content {
  flex: 1;
  margin-left: 0;
}

.logo {
  text-align: center;
  padding: 20px 0; 
}

.logo img {
  width: 70%;
  max-width: 100px;
  height: auto; 
}

.space {
  border: solid black;
  border-span
}
.singleshow {
  width: 250px;
  align-content: normal;
  justify-content: space-evenly;
  /* border:solid black 3px; */
  padding: 2em;
}

.showtitle {
  font-size: large;
  font-weight: bold;

}

.imgbutton:hover {
  transform: scale(2);
  border-radius: 25px;
}



.showcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
}

.showreview {
  border: solid black;
}